{% extends 'firstapp/layout.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">
        <h1>News</h1>
        {% if news %}
        {% for i in news %}
            <div class="alert alert-warning">
                <h3>{{ i.title }}</h3>
                <p>{{ i.anons }}</p>
                <p>{{ i.full_text }}</p>
                <a href="{% url 'news-detail' i.id %}" class="btn btn-warning">Read more</a>
            </div>
        {% endfor %}
        {% else %}
            <p>U don't have some news!</p>
        {% endif %}
    </div>
{% endblock %}
