{% extends 'firstapp/layout.html' %}

{% block title %} About us {% endblock %}

{% block content %}
    <div class="features">
        <h1>
            About us
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias aperiam corporis deleniti est, eum impedit inventore laudantium maiores mollitia non numquam officiis perspiciatis qui quia, sint, veniam veritatis!
        </p>
        <button class="btn btn-danger">
            Press me
        </button>
    </div>
{% endblock %}
