{% extends 'firstapp/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            {{ title }}
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias aperiam corporis deleniti est, eum impedit inventore laudantium maiores mollitia non numquam officiis perspiciatis qui quia, sint, veniam veritatis!
        </p>
        <button class="btn btn-warning">
            To page about as
        </button>

        {% for i in values %}
            <p>{{i}}</p>
        {% endfor %}

        {% for i in obj %}
            <p>{{i}}</p>
        {% endfor %}
    </div>
{% endblock %}
